<div class="row">
	<div class="col-sm-12">
		<h1>EU CIDADÃO</h1>
	</div>
</div>
<form class="well center-block">
	<div class="form-group">
		<label for="exampleInputEmail1">E-mail</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Senha</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
	</div>
	<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
	<a href="#/cadastro" class="btn btn-default btn-lg btn-block">Cadastrar</button>
</form>
