<script type="text/ng-template" id="adicionar.html">
  <div class="modal-header">
    <h3 class="modal-title">Criar Alerta</h3>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary" title="Poda de árvore">
      <i class="glyphicon glyphicon-tree-deciduous"></i>
    </button>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<div ng-controller="MapaCtrl">
  <map center="current-location" disable-default-u-i="true" zoom-control="true" zoom-control-options="{style:'SMALL'}">
    <custom-control id="home" position="TOP_LEFT" index="1" on-click="click()">
      <button type="button" class="btn btn-primary" title="Opções" ng-click="open(event, 'bar')">
        <i class="glyphicon glyphicon-bullhorn"></i>
      </button>
    </custom-control>
  </map>
</div>