<script type="text/ng-template" id="adicionar.html">
  <div class="modal-header">
    <h3 class="modal-title">Criar Alerta</h3>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary" title="Poda de árvore" ng-click="preparar_adicionar('poda_de_arvore')">
      <i class="glyphicon glyphicon-tree-deciduous"></i> Poda
    </button>
    <button type="button" class="btn btn-primary" title="Buraco" ng-click="preparar_adicionar('buraco')">
      <i class="glyphicon glyphicon-road"></i> Buraco
    </button>
    <button type="button" class="btn btn-primary" title="Iluminação" ng-click="preparar_adicionar('iluminacao')">
      <i class="glyphicon glyphicon-lightbulb"></i> Iluminação
    </button>
    <button type="button" class="btn btn-primary" title="Animal morto na pista" ng-click="preparar_adicionar('animal_morto')">
      <i class="glyphicon glyphicon-dog"></i> Animal morto
    </button>
    <button type="button" class="btn btn-primary" title="Falta de sinalização ou placa danificada" ng-click="preparar_adicionar('sinalizacao')">
      <i class="glyphicon glyphicon-dog"></i> Falta sinalização
    </button>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
<div class="row">
	<div class="col-sm-12">
		<h1>{{nova_posicao.endereco}}</h1>
	</div>
</div>
<div ng-controller="MapaCtrl">
  <map center="current-location" disable-default-u-i="true" zoom-control="true" zoom-control-options="{style:'SMALL'}" on-click="addMarker()">

    <!-- Adicionar novo ponto -->
    <custom-control id="home" position="TOP_LEFT" index="1">
      <button type="button" class="btn btn-primary" title="Opções" ng-click="open(event, 'bar')">
        <i class="glyphicon glyphicon-bullhorn"></i>
      </button>
    </custom-control>

    <marker id="novo_ponto_marker" position="{{nova_posicao.lat}}, {{nova_posicao.lng}}" on-click="showInfoWindow(event, 'novo_ponto_info')" ng-if="nova_posicao.lat"></marker>
    <marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}"></marker>

    <info-window id="novo_ponto_info">
      <div ng-non-bindable="">
        <div id="bodyContent">
          <button type="button" class="btn btn-danger" ng-click="cancelar_adicionar()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          <button type="button" class="btn btn-success" ng-click="confirmar_adicionar()">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
        </div>
      </div>
    </info-window>
  </map>
</div>
<div ng-include src="menu.url"></div>