<script type="text/ng-template" id="adicionar.html">
  <div class="modal-header">
    <h3 class="modal-title">Criar Alerta</h3>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-primary" title="Poda de árvore" ng-click="preparar_adicionar('poda_de_arvore')">
      <i class="glyphicon glyphicon-tree-deciduous"></i>
    </button>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
<div class="row">
	<div class="col-sm-12">
		<h1>{{nova_posicao.endereco}}</h1>
	</div>
</div>
<div style="height: 100%" ng-controller="MapaCtrl">
  <map id="gmaps" center="current-location" disable-default-u-i="true" zoom-control="true" zoom-control-options="{style:'SMALL'}" on-click="addMarker()">
    <custom-control id="home" position="TOP_LEFT" index="1" on-click="click()">
      <button type="button" class="btn btn-primary" title="Opções" ng-click="open(event, 'bar')">
        <i class="glyphicon glyphicon-bullhorn"></i>
      </button>
      <marker id="novo_ponto_marker" position="{{nova_posicao.lat}}, {{nova_posicao.lng}}" on-click="showInfoWindow(event, 'novo_ponto_info')" ng-if="nova_posicao.lat"></marker>
    </custom-control>

    <info-window id="novo_ponto_info" visible-on-marker="novo_ponto_marker" ng-if="nova_posicao.lat">
      <div ng-non-bindable="">
        <div id="siteNotice"></div>
        <h1 id="firstHeading" class="firstHeading">Uluru</h1>
        <div id="bodyContent">
          Endereço: {{nova_posicao.endereco}}
          <button type="button" class="btn btn-primary" title="Poda de árvore" ng-click="cancelar_adicionar()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          <button type="button" class="btn btn-primary" title="Poda de árvore" ng-click="adicionar()">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
        </div>
      </div>
    </info-window>
  </map>
</div>
<div ng-include src="menu.url"></div>