<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-2">
				<span class="fa-stack fa-3x">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="col-sm-10">
				<h1>João da Silva</h1>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<table class="table table-striped">
  			<tbody>
  				<tr>
  					<td><i class="fa fa-bullhorn"></i></td>
  					<td>Rua dos Inconfindentes, 200</td>
  					<td>20 <i class="fa fa-thumbs-o-up"></i></td>
  					<td><i class="fa fa-check"></i></td>
  				</tr>
  				<tr>
  					<td><i class="fa fa-bullhorn"></i></td>
  					<td>Rua dos Inconfindentes, 200</td>
  					<td>20 <i class="fa fa-thumbs-o-up"></i></td>
  					<td><i class="fa fa-check"></i></td>
  				</tr>
  				<tr>
  					<td><i class="fa fa-bullhorn"></i></td>
  					<td>Rua dos Inconfindentes, 200</td>
  					<td>20 <i class="fa fa-thumbs-o-up"></i></td>
  					<td><i class="fa fa-check"></i></td>
  				</tr>
  				<tr>
  					<td><i class="fa fa-bullhorn"></i></td>
  					<td>Rua dos Inconfindentes, 200</td>
  					<td>20 <i class="fa fa-thumbs-o-up"></i></td>
  					<td><i class="fa fa-check"></i></td>
  				</tr>
  			</tbody>
		</table>
	</div>
</div>
<div ng-include src="menu.url"></div>